<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
  <appSettings>
    <add key="Crm.ConnectionString" value="Url=http://crmserver/org; Domain=DOMAIN; Username=LOGIN; Password=PASSWORD;" />
    <add key="Folder.Path" value="C:\Temp\Output\"/>
    <add key="DefaultNamespace" value="CRM.Model"/>
  </appSettings>
</configuration>
